* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  margin: 0 200px;
}

img {
  border-radius: 5%;
}

.container-1 {
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px 100px 100px;
}

.container-2 {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 500px;
}

.container-3 {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
}

.container-4 {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 300px;
}

.footer {
  background-color: #1F2937;
  display: flex;
  flex-basis: 75px;
  color: #E5E7EB;
  font-size: 18px;
  justify-content: center;
  align-items: center;
}

.header-1 {
  color: #E5E7EB;
  display: flex;
  justify-content: space-between;
}

.header-1-logo {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}

.header-1-links {
  font-size: 18px;
  display: flex;
  gap: 50px;
}

.container-1-main {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 100px 0px 0px;
}

.container-1-main-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 500px;
  gap: 20px
}

.container-1-main-text {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: bolder; 
}

.container-1-sub-text {
  font-size: 18px;
  color: #E5E7EB;
}

button {
  width: 80px;
  border: none;
  color: white;
  padding: 15px;
  background-color: #3882F6;
  border-radius: 10%;
}

.container-2-header {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  padding: 50px;
}

.container-2-main {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.image-and-caption {
  display: flex;
  flex-direction: column;
  flex-basis: 10%;
  gap: 20px;
}

.caption {
  text-align: center;
}

.container-3-main {
  display: flex;
  flex-direction: column;
  margin: 100px 200px;
}

.proof {
  color: #1F2937;
  font-size: 36px;
  font-style: italic;
}

.author {
  text-align: right;
  font-size: 24px;
  font-weight: bold;
}

.container-4-main {
  display: flex;
  flex-basis: 1000px;
  background-color: #3882F6;
  padding: 60px 80px;
  justify-content: space-between;
  border-radius: 10px;
}

.container-4-main-left {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container-4-main-text {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: bold;
}

.container-4-sub-text {
  color: #E5E7EB;
}

.bottom-button {
  border: solid white 2px; 
}